## API
# API_PORT=:8080
# API_JWT_SECRET=yoursecret
# API_GOOGLE_CLIENT=111-aaa.apps.googleusercontent.com
# TB_ID=111:AAA

## Postgres Live
# DB_HOST=127.0.0.1
# DB_DRIVER=postgres
# DB_USER=steven
# DB_PASSWORD=
# DB_NAME=fullstack_api
# DB_PORT=5432 
# DB_DEBUG=false 

## Mysql Live
# DB_HOST=127.0.0.1
# DB_DRIVER=mysql 
# DB_USER=steven
# DB_PASSWORD=here
# DB_NAME=fullstack_mysql
# DB_PORT=3306 #Default mysql port
# DB_DEBUG=false 

## sqlite live
# DB_DRIVER=sqlite3
# DB_NAME=fullstack.sqlite
# DB_DEBUG=true
# DB_MIRROR=false