## API
# API_PORT=:7001
# API_JWT_SECRET=yeF5bJp7cjvlZdfm6M89KssdX5JWKeFbv5F87sGS9SBoIa1hZMRPEQ2ApH6hyAE
# API_GOOGLE_CLIENT=124906771619-abbfhrrabom1dpct4kfga2vlskre3po6.apps.googleusercontent.com
# TB_ID=856967587:AAEVWjlNNolEJBNp1gBHopkppTrLXcvBGig

## Postgres Live
# DB_HOST=127.0.0.1
# DB_DRIVER=postgres
# DB_USER=steven
# DB_PASSWORD=
# DB_NAME=fullstack_api
# DB_PORT=5432 
# DB_DEBUG=false 

## Mysql Live
# DB_HOST=127.0.0.1
# DB_DRIVER=mysql 
# DB_USER=steven
# DB_PASSWORD=here
# DB_NAME=fullstack_mysql
# DB_PORT=3306 #Default mysql port
# DB_DEBUG=false 

## sqlite live
# DB_DRIVER=sqlite3
# DB_NAME=fullstack.sqlite
# DB_DEBUG=true
# DB_MIRROR=false